.wrapper {
    min-height: 950px;
    width: 100%;
    overflow-x: hidden;
}
.padding {
    padding: 1em;
}

.full-widh {
    width: 100%;
}

.hotels td {
    vertical-align: middle;
}

.block {
    padding: 1em;
    border: 1px solid;
    margin: 0em 1em;
    box-shadow: 3px 3px 3px;
    width: 100%;
    display: grid;
    min-height: 200px;
}

.date-as-calendar {
    float: left;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, sans-serif;
    vertical-align: top;
    color: #303030;
    background: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 2px -2px black;
    margin: 0.2em;
    cursor: pointer;
}

.date-as-calendar .weekday,
.date-as-calendar .day,
.date-as-calendar .month,
.date-as-calendar .year,
.date-as-calendar .time {
    text-align: center;
    line-height: 1;
}

.date-as-calendar .month {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    background: #cc9a00;
    color: #f0f0f0;
}

.position-pixels.date-as-calendar {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 74px;
}

.position-pixels.date-as-calendar .weekday,
.position-pixels.date-as-calendar .day,
.position-pixels.date-as-calendar .month,
.position-pixels.date-as-calendar .year,
.position-pixels.date-as-calendar .time {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.position-pixels.date-as-calendar .month {
    top: 0px;
    font-size: 14px;
    padding: 4px 4px;
}

.position-pixels.date-as-calendar .weekday {
    top: 56px;
    font-size: 12px;
}

.position-pixels.date-as-calendar .day {
    top: 26px;
    font-size: 24px;
}

.position-pixels.date-as-calendar .year {
    top: 50px;
    font-size: 14px;
}
.select-date {
    display: flex;
    position: absolute;
    z-index: 1;
    font-size: 26px;
    color: #242b04;
}
.box-cal {
    display: inline-flex;
}

.date-check{
    position: absolute;
    z-index: 20;
    color: #063e06;
    font-size: 1.2em;
}
.overlay{
    width: 75px;
    height: 80px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.62);
    z-index: 300;
}

.pay-button {
    background-color: #482395; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    box-shadow: 2px 2px 0 #575757;
}
.pay-button:hover {
    background-color: #2f106d; /* Green */
}
